
<div class="messages" style="display: block;">
  <% if (messages && messages.length) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= messages %>  
    
      </div>
<% } %>

<% if (error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>  
    
      </div>
<% } %>

</div>
<script>
  setTimeout(function(){
    document.getElementsByClassName('messages')[0].style.display="none";
  },5000);
</script>