

<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6">
        <form id="search" action="/" method="POST">
            <input class="form-control input-group-sm mb-3 border border-warning " style="border-radius: 20px;" type="text" placeholder="search camp by username here..." name="user">
        
        </form>
    </div>
    <div class="col-6">
        <form id="search1" action="/" method="POST">
            <input class="form-control input-group-sm mb-3 border border-info" style="border-radius: 20px;" type="text" placeholder="search camp by campname here..." name="campname">
        
        </form>
    </div>
</div>

