<% layout('layouts/boilerplate')%>



<div class="container ml-auto mr-0">
    <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3 ">Welcome <%= currentUser.username %></p>
<a href="/users/logout" class="btn btn-danger btn-lg">Logout</a>
</div>