<% layout('layouts/boilerplate')%>
<!-- <div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
             <h4 class="alert-heading"></h4> --> 
            <!-- <p></p>
        </div>
    </div>
</div> --> 


<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <p class="text-muted"><li><%= err.stack %></li> </p>
          </div>
    </div>
</div>